
.list_websites {
  list-style: none;
  display: flex;
}

.container-brand {
  padding: 25px;
}

.link {
  text-decoration: none;
}

.link-brand {
  color: black;
  text-decoration: none;
  position: absolute;
  left: 80px;
  bottom: 25px;
}

.img-brand {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  position: relative;
}

.img-carousel {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.col-informacion {
color: red;
}
